html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	background-color: #d9d9d9;
}


.header-wrapper {
	width: 100%;
	background-color: #222;
	height: 130px;
	z-index: 9999;
}

.nav-header {
	width: 100%;
	max-width: 1170px;
	margin: 0 auto;
	z-index: 9999;
}

.container {
	min-width: 100%;
	position: fixed;
}


.wrap-header {
	background-color: white;
	margin: 0;
}


.navbar-nav {
	text-fill: #000;
}

.navbar-nav li a {
    margin: 20px 17px 10px 17px;
    font-size: 16px;
}


.truck-logo {
	height: 45px;
	width: 135px;
	margin-left: 15px;
}

.truck-logo-subtext {
	color: #fff;
	font-size: 20px;
}

.truck-logo-subtext:hover {
	color: #fff;
	background: #222;
	text-decoration: none;
}


.main-wrapper {
	background-color: #d9d9d9;
}

#main {
	margin: 0 auto;
	text-align: center;
	width: 1170px;
	
}

.main-img-container {
	position: relative;
}

.slider {
	width: 100%;
	margin: 0 auto;
}

.slider-wrapper {
	width: 100%;
	height: auto;
}

.slide {
	float: left;
	/* position: absolute; */
	width: 100%;
	max-width: 1170px;
	/* opacity: 0; */
	transition: opacity 3s linear;
	filter: brightness(70%);
	padding-top: 80px;
}

.home-header-top {
	color: #fff;
	font-size: 60px;
	font-style: italic;
	text-shadow: 2px 2px 2px #000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	position: absolute;
	left: 190px;
	top: 110px;;
	resize: auto;
}

.home-header-bottom {
	color: #fff;
	font-size: 60px;
	font-style: italic;
	padding: 10px;
	text-shadow: 2px 2px 2px #000; /* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
	position: absolute;
	resize: none;
	top: 190px;
	left: 375px;
}

.apply-button {
	position: absolute;
	top: 350px;
	right: 380px;
	height: 42px;
	width: 165px;
	border-radius: 12px;
	font-size: 18px;
	color: #fff;
	opacity: .85;
}

.rate-button {
	position: absolute;
	top: 350px;
	right: 565px;
	height: 42px;
	width: 165px;
	border-radius: 12px;
	font-size: 18px;
	color: #fff;
	opacity: .85;
}

button:hover {
	opacity: 1;
}

/*
.div-1 {
	background-color: #3A3A3A;
	width: 100%;
	max-width: 400px;
	border: 5px;
	overflow: hidden;
	border: 1px solid;
	border-color: #3EA055;
	text-align: center;
}
*/

#div-1-header {
	color: #3EA055;
	font-family: sans-serif;
}

.column-container {
	margin: 100px auto;
	display: inline-block;
	text-align: left;
	width: 100%;
	max-width: 1170px;
}

.column-container img {
	padding: 5px;
}

.column-container p {
	text-align: left;
	padding-left: 5px;
	line-height: 22px;
}

.column-container ul li {
	line-height: 22px;
}

.column {
	width: 350px;
	padding: 20px;
}

.column img {
	
}

.testimonials {
	background-color: #3A3A3A;
	width: 22%;
	height: 275px;
	margin-left: 39%;
	margin-bottom: 50px;
	border: 5px;
	min-height: 200px;
	text-align: center;
	border: 1px solid;
	border-color: #3EA055;
	overflow: hidden;
}

.testimonials p {
	margin-top: 50px;
	float: center;
	background-color: #3A3A3A;
	color: #3EA055;
}

.testimonials button {
	height: 10px;
	background-image: url('/cBtn.png/');
	background-color: #3A3A3A;
	width: 50px;
}

.testimonials h2 {
	color: #3EA055;
}

.previousButton {
	float: left;
	height: 100px;
}

.nextButton {
	float: right;
}

button {
	color: white;
	border: none;
	background-color: #3EA055;
	height: 35px;
	float: right;
	margin-right: 25px;
	cursor: hand;
	margin-bottom: 15px;
}


.footer-div {
	background-color: #3A3A3A;
	height: 210px;
	width: 100%;
	bottom: 0;
	/* position: absolute; */
}

/*
span {
	text-align: center;
	color: #fff;
	font-size: 60px;
	font-style: italic;
	padding: 10px;
	text-shadow: 2px 2px 2px #000;
}
*/

/*
.text-div {
	color: #f2f2f2;
	font-size: 15px;
	width: 100%;
	text-align: center;
}
*/

#hb {
	display: none;
}

.footer-div {
	text-align: center;
	height: 150px;
}

.footer-div p {
	color: white;
	margin-bottom: 0;
	padding-bottom: 0;
}

a {
	text-decoration: none;
	color: white;
}

.footer-div a:hover {
	text-decoration: none;
}

.contact-footer {
	margin-top: 15px;
}


.slider-wrapper>.slide:first-child {
	opacity: 1;
}

/*
@media only screen and (min-device-width : 320px) and (max-device-width
	: 480px) {
	.div-1 {
		width: 98%;
		margin: 1%;
		font-size: 24px;
	}
	.testimonials {
		width: 60%;
		margin: 20%;
	}
}
*/